# Database Connection (Drizzle ORM & Server Actions)
DATABASE_URL="postgresql://postgres:your-password@db.your-project.supabase.co:5432/postgres"

# LINE LIFF Authentication
NEXT_PUBLIC_LIFF_ID="your-liff-id"

# LINE Messaging API (For Multicast Push Notifications)
LINE_CHANNEL_ACCESS_TOKEN="your-channel-access-token"

# Supabase Client Credentials (For Storage and Realtime Client)
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"

# Vercel Cron Job Authentication (For Auto-Cleanup)
CRON_SECRET="your-cron-secret-token"

# Application URL
APP_URL="http://localhost:3000"



# # Database Connection (Drizzle ORM & Server Actions)
# DATABASE_URL=postgresql://postgres.pfndwmczcfpvdmwqfbwo:yean30102546@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true

# # LINE LIFF Authentication
# NEXT_PUBLIC_LIFF_ID=2010014752-ROHB4xAL

# # Supabase Client Credentials
# NEXT_PUBLIC_SUPABASE_URL=https://pfndwmczcfpvdmwqfbwo.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmbmR3bWN6Y2ZwdmRtd3FmYndvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MzM0ODIsImV4cCI6MjA5NTAwOTQ4Mn0.c0kdBVbZ9DRUl3sal-osBP7dO5rLF7-IIAY7VZqbi90

# # Gemini AI API Key
# GEMINI_API_KEY="your-gemini-api-key"

# # Application URL
# APP_URL="http://localhost:3000"

# LINE_Messaging_API=8ba637a3a1b0cc97430c4f3f3513ae6f
